body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#nav {
    padding: 10px 50px 10px 10px;
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    /* width: 100%; */
    height: 400px;

}

#li {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    list-style: none;
    padding: 5px;
}

button {
    border: none;
    padding: 10px;
    font-weight: 700;
    background-color: transparent;
    color: white;
}

button:hover {
    background-color: rgb(231, 24, 24);
}
h1{
    text-align: center;
    font-size: 70px;
    color: white;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3{
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: 450; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.searchbox{
    display: grid;
    grid-template-columns: 4% 40% 6% 50%;
    width: 500px;
    margin: auto;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    
}
#locationimg>img{
    width: 30px;
    margin-top:7px;
    margin-left: 5px;
    
}
#select{
    width: 180px;
    height: 35px;
    border: none;
    background-color: transparent;
    margin-top:7px;
    margin-left: 5px;
}

#searchFood{
    width: 230px;
    height: 35px;
    border: none;
    background-color: transparent;
    margin-top:7px;
    margin-left: 5px;
}

#searchimg>img{
    width: 30px;
    margin-top:7px;
    margin-left: 5px;
}


